.right-container {
    margin-top: 1em;
    .title {
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 16px;
    }
}

.finance__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.finance__rate {
    display: flex;
    flex-direction: column;
    background: #FFF;
    padding: 8px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 10px 20px rgb(100 100 100 / 10%);
    transition: 0.1s ease-in-out;
    .finance__title {
        font-weight: 700;
    }
    &:hover {
        box-shadow: 0 20px 30px rgb(100 100 100 / 20%);
    }
}