@import "../../style/variables.scss";

.header-nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.navbar {
    background: $black;
    color: $white;
    position: sticky;
    top: 0;
    
    .title {
        flex-grow: 1;
    }
    .github {
        font-size: 24px;
        color: $white;
        text-decoration: none;
    }
}