.navbar {
    padding: 20px 36px;
    background: $black;
    color: $white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    .title {
        flex-grow: 1;
    }
    .github {
        font-size: 24px;
        color: $white;
        text-decoration: none;
    }
}