.pagescontainer {
    padding: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    @include flexcenter;
    justify-content: center;
    .pagebtn {
        margin: 0 20px;
        padding: 8px 16px;
        border-radius: 4px;
        border: 0;
        background: $black;
        color: $white;
        cursor: pointer;
    }
}

@media screen and (max-width: 576px) {
    .pagescontainer {
        grid-column-start: auto;
        grid-column-end: auto;
        padding: 12px;
    }
}